/* You can add global styles to this file, and also import other style files */
table#emballagePrint > thead > tr >th{
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
}
table#emballagePrint > tbody > tr >td{
    text-align: center;
    border-right: 1px solid grey;
    padding: 5px;
}
table#emballagePrint1 > thead > tr >th{
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
}
table#emballagePrint1 > tbody > tr >td{
    text-align: center;
    border-right: 1px solid grey;
    padding: 5px;
}
table#condPrint > thead > tr >th{
    border: 1px solid grey;
    text-align: center;
    padding: 20px;
}
table#condPrint1 > tbody > tr >td{
    text-align: center;
    border-right: 1px solid grey;
    padding: 15px;
}